
/*-------------------------------------------------------------------
    ##General
-------------------------------------------------------------------*/
/* Margin */
.mar-t0 {margin-top: 0 !important; }
.mar-r0 {margin-right: 0 !important; }
.mar-b0 {margin-bottom: 0 !important; }
.mar-l0 {margin-left: 0 !important; }

/* Padding */
.pad-t0 {padding-top: 0 !important; }
.pad-r0 {padding-right: 0 !important; }
.pad-b0 {padding-bottom: 0 !important; }
.pad-l0 {padding-left: 0 !important; }

/* Border */
.bdr-t0 {border-top-width: 0 !important; }
.bdr-r0 {border-right-width: 0 !important; }
.bdr-b0 {border-bottom-width: 0 !important; }
.bdr-l0 {border-left-width: 0 !important; }

/* Align - Text */
.align-t {vertical-align: top !important; }
.align-m {vertical-align: middle !important; }
.align-b {vertical-align: bottom !important; }
.align-l {text-align: left !important; }
.align-c {text-align: center !important; }
.align-r {text-align: right !important; }
.align-j {text-align: justify;-moz-text-align-last: justify;-webkit-text-align-last: justify;text-align-last: justify; }

/* Align - Layer */
.centered-t {position: absolute !important;left: 50%;top: 0;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%); }
.centered-r, .input-group .append {position: absolute !important;right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); }
.centered-b {position: absolute !important;left: 50%;bottom: 0;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%); }
.centered-l, .input-group .prepend, .breadcrumb .arw {position: absolute !important;left: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); }
.centered-c {position: absolute !important;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%); }
.centered-rb {position: absolute !important;right: 0;bottom: 0; }

/* Align - Flexible */
.flex {display: -webkit-box;display: -ms-flexbox;display: flex; }
.flex-inline {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex; }
.flex-auto {-webkit-flex: 1;-ms-flex: 1;-webkit-box-flex: 1;flex: 1; }
.flex-column {-webkit-flex-direction: column;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; }
.flex-wrap {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap; }
.flex-start {-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start; }
.flex-center {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; }
.flex-end {-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end; }
.flex-around {-ms-flex-pack: distribute;justify-content: space-around; }
.flex-between {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between; }
.flex-evenly {-webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly; }
.cross-start {-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start; }
.cross-center {-webkit-box-align: center;-ms-flex-align: center;align-items: center; }
.cross-end {-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end; }
.cross-baseline {-webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline; }
.cross-around {-webkit-box-align: space-around;-ms-flex-align: space-around;align-items: space-around; }
.cross-between {-webkit-box-align: space-between;-ms-flex-align: space-between;align-items: space-between; }
.cross-evenly {-webkit-box-align: space-evenly;-ms-flex-align: space-evenly;align-items: space-evenly; }


.flex-top {margin-bottom: auto !important; }
.flex-right {margin-left: auto !important; }
.flex-bottom {margin-top: auto !important; }
.flex-left {margin-right: auto !important; }

/*-------------------------------------------------------------------
    ##Layout
-------------------------------------------------------------------*/
/* Grid Flexible
    https://d2.naver.com/helloworld/8540176#ch2
    https://codepen.io/jaehee/full/zyZyWZ
*/
.grid {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap; }

/* Default */
.col {-webkit-box-flex: 0;-ms-flex: none;flex: none; }
.col.auto {width: auto; }
.col.top {margin-bottom: auto; }
.col.bottom {margin-top: auto; }
.col.right {margin-left: auto; }
.col.left {margin-right: auto; }

/* All Device */
.col.col-1 {width: 8.33333333%; }
.col.col-2 {width: 16.6666%; }
.col.col-3 {width: 25%; }
.col.col-4 {width: 33.3333%; }
.col.col-5 {width: 41.66666667%; }
.col.col-6 {width: 50%; }
.col.col-7 {width: 58.33333333%; }
.col.col-8 {width: 66.66666667%; }
.col.col-9 {width: 75%; }
.col.col-10 {width: 83.33333334%; }
.col.col-11 {width: 91.66666667%; }
.col.col-12 {width: 100%; }

/* Extra Small Size (Mobile Portrait Device) */
@media all and (max-width: 575px) {
    .col.col-xs-1 {width: 8.33333333%; }
    .col.col-xs-2 {width: 16.6666%; }
    .col.col-xs-3 {width: 25%; }
    .col.col-xs-4 {width: 33.3333%; }
    .col.col-xs-5 {width: 41.66666667%; }
    .col.col-xs-6 {width: 50%; }
    .col.col-xs-7 {width: 58.33333333%; }
    .col.col-xs-8 {width: 66.66666667%; }
    .col.col-xs-9 {width: 75%; }
    .col.col-xs-10 {width: 83.33333334%; }
    .col.col-xs-11 {width: 91.66666667%; }
    .col.col-xs-12 {width: 100%; }
 }

/* Small Size (Mobile Landscape Device) */
@media all and (min-width: 576px) {
    .col.col-sm-1 {width: 8.33333333%; }
    .col.col-sm-2 {width: 16.6666%; }
    .col.col-sm-3 {width: 25%; }
    .col.col-sm-4 {width: 33.3333%; }
    .col.col-sm-5 {width: 41.66666667%; }
    .col.col-sm-6 {width: 50%; }
    .col.col-sm-7 {width: 58.33333333%; }
    .col.col-sm-8 {width: 66.66666667%; }
    .col.col-sm-9 {width: 75%; }
    .col.col-sm-10 {width: 83.33333334%; }
    .col.col-sm-11 {width: 91.66666667%; }
    .col.col-sm-12 {width: 100%; } 
}



/* Middle Size (Tablet Device) */
@media all and (min-width: 768px) {
    /* Device Only */
    .col.col-md-1 {width: 8.33333333%; }
    .col.col-md-2 {width: 16.6666%; }
    .col.col-md-3 {width: 25%; }
    .col.col-md-4 {width: 33.3333%; }
    .col.col-md-5 {width: 41.66666667%; }
    .col.col-md-6 {width: 50%; }
    .col.col-md-7 {width: 58.33333333%; }
    .col.col-md-8 {width: 66.66666667%; }
    .col.col-md-9 {width: 75%; }
    .col.col-md-10 {width: 83.33333334%; }
    .col.col-md-11 {width: 91.66666667%; }
    .col.col-md-12 {width: 100%; } 
}

/* Large Size (Desktop Device) */
@media all and (min-width: 992px) {
    /* Device Only */
    .col.col-lg-1 {width: 8.33333333%; }
    .col.col-lg-2 {width: 16.6666%; }
    .col.col-lg-3 {width: 25%; }
    .col.col-lg-4 {width: 33.3333%; }
    .col.col-lg-5 {width: 41.66666667%; }
    .col.col-lg-6 {width: 50%; }
    .col.col-lg-7 {width: 58.33333333%; }
    .col.col-lg-8 {width: 66.66666667%; }
    .col.col-lg-9 {width: 75%; }
    .col.col-lg-10 {width: 83.33333334%; }
    .col.col-lg-11 {width: 91.66666667%; }
    .col.col-lg-12 {width: 100%; } 
}

/* XLarge Size (Desktop Device) */
@media all and (min-width: 1200px) {
    /* Device Only */
    .col.col-xl-1 {width: 8.33333333%; }
    .col.col-xl-2 {width: 16.6666%; }
    .col.col-xl-3 {width: 25%; }
    .col.col-xl-4 {width: 33.3333%; }
    .col.col-xl-5 {width: 41.66666667%; }
    .col.col-xl-6 {width: 50%; }
    .col.col-xl-7 {width: 58.33333333%; }
    .col.col-xl-8 {width: 66.66666667%; }
    .col.col-xl-9 {width: 75%; }
    .col.col-xl-10 {width: 83.33333334%; }
    .col.col-xl-11 {width: 91.66666667%; }
    .col.col-xl-12 {width: 100%; } 
}

/* XXLarge Size (Desktop Device) */
@media all and (min-width: 1400px) {
    /* Device Only */
    .col.col-xxl-1 {width: 8.33333333%; }
    .col.col-xxl-2 {width: 16.6666%; }
    .col.col-xxl-3 {width: 25%; }
    .col.col-xxl-4 {width: 33.3333%; }
    .col.col-xxl-5 {width: 41.66666667%; }
    .col.col-xxl-6 {width: 50%; }
    .col.col-xxl-7 {width: 58.33333333%; }
    .col.col-xxl-8 {width: 66.66666667%; }
    .col.col-xxl-9 {width: 75%; }
    .col.col-xxl-10 {width: 83.33333334%; }
    .col.col-xxl-11 {width: 91.66666667%; }
    .col.col-xxl-12 {width: 100%; } 
}

/* Gutter */
.gut-guide {margin: -5px; }
.gut-guide > .col {padding: 5px; }