*{ position:relative; font-family: 'Noto Sans KR', sans-serif; margin:0; padding: 0; font-weight: inherit; color:inherit;
list-style: none; font-style: inherit; font-size: inherit; line-height: inherit; word-break: inherit; word-wrap: inherit;
box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box;}

h1,h2,h3,h4,h5,h6,strong,b,th {font-weight: 500;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section,main {display: block;}

html {-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%}
header {margin: 0 auto;color: #777777;}

img {vertical-align: middle; }
fieldset, iframe {width: 100%;}

table {width: 100%;border-spacing: 0;border-collapse: collapse;}
caption {display: block;position: absolute;left: -9999px;}
legend {position: absolute;left: -9999em;top: -9999em;}

button {overflow: hidden;background-color: transparent;cursor: pointer; outline: none;}
button::-moz-focus-inner {border: 0px;padding: 0px;}

input:checked[type=checkbox] {background-color:#666;-webkit-appearance:checkbox}
html input[type=button], input[type=email], input[type=password], input[type=reset], input[type=search], input[type=submit], input[type=tel], input[type=text] {-webkit-appearance:none;}
input[type=search]::-webkit-search-cancel-button {-webkit-appearance:none}
/*-ms IE 10 +, webkit chrome,  -moz Firefox, mozilla*/
input {border:0px; vertical-align:middle;}

input:-ms-input-placeholder, 
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder,
input:-moz-placeholder,
textarea::-moz-placeholder, 
input:-moz-placeholder,
textarea::-moz-placeholder {color:#6c757d;}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder,
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder,
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {color:transparent;}

input:disabled{background: rgba(0, 0, 0, 0.07);border: solid 1px rgba(0, 0, 0, 0.12);color: rgba(0, 0, 0, 0.38);}

textarea {width:100%; vertical-align:middle; resize:none;}
select {appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
select::-ms-expand {display:none;}

a {color: #000000; text-decoration: none;}

hr {margin: 0;border-top: 1px solid #222222;border-bottom: 0}
h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}

progress { display: inline-block; vertical-align: baseline; }

:before, :after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; }
:disabled{opacity: 0.65; cursor: not-allowed;}