@charset "UTF-8";
@import url(layout.css); /*가이드 레이아웃이므로 사용시 필요없음*/
@import url(darkmode.css);

/*실 사용시 아래부터 모두 필요*/
@import url(reset.css);
@import url(import.css);
@import url(icon.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.hidden{overflow: hidden; display: none;}
.overflow-hidden{overflow: hidden !important;}
.overflow-initial{overflow: initial !important;}
.overflow-auto{overflow: auto;}
.overflow-auto-x{overflow-x: auto;}
.overflow-auto-y{overflow-y: auto;}

.cursor-pointer{cursor: pointer;}
.cursor-auto{cursor: auto;}

.ie8 {overflow: scroll}
.ie8 body {overflow: auto;font-weight: normal}
.ie8 input[type=text],.ie8 input[type=password],.ie8 input[type=tel],.ie8 input[type=email],.ie8 input[type=button],.ie8 input[type=submit],.ie8 input[type=reset],.ie8 button,.ie8 
.ie8 h1,.ie8 h2,.ie8 h3,.ie8 h4,.ie8 h5,.ie8 h6,.ie8 strong,.ie8 b {font-weight: bold}

.ie9 select {padding:5px 35px 4px 5px;background:none;}
.ie9 :root select {padding:0; font-size:0;}

/* clear float */
.clearfx {zoom: 1;}
.clearfx:after {content:".";clear:both;display:block;height:0;visibility:hidden;font-size:0;line-height:0;}
.clear {clear:both;}
.floatL {float:left;}
.floatR {float:right;}

/*text*/
.text-wrap{white-space: nowrap;}
.text-blind{font-size: 0px; color: rgba(0,0,0,.0); position: absolute;}
.text-ellipsis{white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.text-underline{text-decoration: underline;}
.text-overline{text-decoration: overline;}

/*font weight*/
.font-semibold{font-weight: var(--font-wght-600);}
.font-bold{font-weight: 700;}
.font-extrabold{font-weight: 900;}

/*font-size*/
.font-size-default {font-size: 14px;}
.font-size-xs{font-size: var(--font-xs);} /*10px*/
.font-size-sm{font-size: var(--font-sm);} /*12px*/
.font-size-md{font-size: var(--font-md);} /*16px*/
.font-size-lg{font-size: var(--font-lg); letter-spacing: -0.02em; font-weight: 600;} /*18px*/

/*font Colors*/
.color-primary{color: var(--primary-100);}
.color-secondary{color: var(--secondary-100);}
.color-success{color: var(--color-success);}
.color-danger{color: var(--color-danger);}
.color-warning{color: var(--color-warning);}
.color-info{color: var(--color-info);}

/*ul list*/
.list-disc{padding-left: 16px;}
.list-disc > li {list-style: disc;}

.draggable {
z-index: 1;
cursor: move; /* fallback if grab cursor is unsupported */
cursor: -moz-move;
cursor: -webkit-move;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.draggable:active {
cursor: -moz-move;
cursor: -webkit-move;
}
.draggable span::before{display: inline-block; content: '='; width: 12px; height: 12px; font-size: 12px; color: #000;}

/*scrollbar style*/
::-webkit-scrollbar {
width: 6px;
height: 6px;
}
::-webkit-scrollbar-thumb {
border-radius: 3px;
background-color: var(--scollbar-thumb-back)
}
::-webkit-scrollbar-track-piece {
background-color: var(--scrollbar-track-piece)
}
  /*-------------------------------------------------------------------
    ##General
-------------------------------------------------------------------*/
/* Margin */
.mar-0 {margin: 0 !important;}
.mar-t0 {margin-top: 0 !important; }
.mar-r0 {margin-right: 0 !important; }
.mar-b0 {margin-bottom: 0 !important; }
.mar-l0 {margin-left: 0 !important; }

/* Padding */
.pad-0 {padding: 0 !important;}
.pad-t0 {padding-top: 0 !important; }
.pad-r0 {padding-right: 0 !important; }
.pad-b0 {padding-bottom: 0 !important; }
.pad-l0 {padding-left: 0 !important; }

/* Border */
.bdr-0 {border: 0 !important;}
.bdr-t0 {border-top-width: 0 !important; }
.bdr-r0 {border-right-width: 0 !important; }
.bdr-b0 {border-bottom-width: 0 !important; }
.bdr-l0 {border-left-width: 0 !important; }

/*gap*/
.gap-0 {gap:0 !important}
.gap-xsm{gap: var(--gap-xsm);}
.gap-sm{gap: var(--gap-sm);}
.gap-default{gap: var(--gap-default);}
.gap-md{gap: var(--gap-md);}

/* Align - Text */
.align-t {vertical-align: top !important; }
.align-m {vertical-align: middle !important; }
.align-b {vertical-align: bottom !important; }
.align-l {text-align: left !important; }
.align-c {text-align: center !important; }
.align-r {text-align: right !important; }
.align-j {text-align: justify;-moz-text-align-last: justify;-webkit-text-align-last: justify;text-align-last: justify; }

/* Align - Layer */
.centered-t {position: absolute !important;left: 50%;top: 0;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%); }
.centered-r, .input-group .append {position: absolute !important;right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); }
.centered-b {position: absolute !important;left: 50%;bottom: 0;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%); }
.centered-l, .input-group .prepend, .breadcrumb .arw {position: absolute !important;left: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%); }
.centered-c {position: absolute !important;left: 50%;top: 50%;-webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%); }
.centered-rb {position: absolute !important;right: 0;bottom: 0; }

/* Align - Flexible */
.flex {display: -webkit-box;display: -ms-flexbox;display: flex; }
.flex-1 {-webkit-flex: 1 1 0;-ms-flex: 1 1 0;-webkit-box-flex: 1 1 0;flex: 1 1 0 }
.flex-inline {display: -webkit-inline-box;display: -ms-inline-flexbox;display: inline-flex; }
.flex-none{-webkit-flex: none;-ms-flex: none;-webkit-box-flex: none; flex:none}
.flex-auto {-webkit-flex: 1 1 auto;-ms-flex: 1 1 auto;-webkit-box-flex: 1 1 auto;flex: 1 1 auto }
.flex-shrink{-webkit-flex-shrink: 1;-ms-flex-shrink: 1;-webkit-box-flex-shrink: 1; flex-shrink: 1;}
.flex-grow{-webkit-flex-grow: 1;-ms-flex-grow: 1;-webkit-box-flex-grow: 1; flex-grow: 1;}
.flex-column {-webkit-flex-direction: column;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; }
.flex-wrap {-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap; }
.flex-nowrap {-webkit-flex-wrap: nowrap;-ms-flex-wrap: nowrap;flex-wrap: nowrap; }
.flex-start {-webkit-box-pack: start;-ms-flex-pack: start;justify-content: flex-start; }
.flex-center {-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center; }
.flex-end {-webkit-box-pack: end;-ms-flex-pack: end;justify-content: flex-end; }
.flex-around {-ms-flex-pack: distribute;justify-content: space-around; }
.flex-between {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between; }
.flex-evenly {-webkit-box-pack: space-evenly;-ms-flex-pack: space-evenly;justify-content: space-evenly; }
.cross-start {-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start; }
.cross-center {-webkit-box-align: center;-ms-flex-align: center;align-items: center; }
.cross-end {-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end; }
.cross-baseline {-webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline; }
.cross-around {-webkit-box-align: space-around;-ms-flex-align: space-around;align-items: space-around; }
.cross-between {-webkit-box-align: space-between;-ms-flex-align: space-between;align-items: space-between; }
.cross-evenly {-webkit-box-align: space-evenly;-ms-flex-align: space-evenly;align-items: space-evenly; }


.flex-top {margin-bottom: auto !important; }
.flex-right {margin-left: auto !important; }
.flex-bottom {margin-top: auto !important; }
.flex-left {margin-right: auto !important; }

.block{display: block;}
.block-inline{display: inline-block;}

/*-------------------------------------------------------------------
    ##Layout
-------------------------------------------------------------------*/
/* Grid Flexible
    https://d2.naver.com/helloworld/8540176#ch2
    https://codepen.io/jaehee/full/zyZyWZ
*/
/* .grid {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap; } */
:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--bs-rows, 1), 1fr);
    grid-template-columns: repeat(var(--bs-columns, 12), 1fr);
    gap: var(--bs-gap, 1.5rem)
}

.grid .g-col-1 {
    grid-column: auto/span 1
}

.grid .g-col-2 {
    grid-column: auto/span 2
}

.grid .g-col-3 {
    grid-column: auto/span 3
}

.grid .g-col-4 {
    grid-column: auto/span 4
}

.grid .g-col-5 {
    grid-column: auto/span 5
}

.grid .g-col-6 {
    grid-column: auto/span 6
}

.grid .g-col-7 {
    grid-column: auto/span 7
}

.grid .g-col-8 {
    grid-column: auto/span 8
}

.grid .g-col-9 {
    grid-column: auto/span 9
}

.grid .g-col-10 {
    grid-column: auto/span 10
}

.grid .g-col-11 {
    grid-column: auto/span 11
}

.grid .g-col-12 {
    grid-column: auto/span 12
}

.grid .g-start-1 {
    grid-column-start: 1
}

.grid .g-start-2 {
    grid-column-start: 2
}

.grid .g-start-3 {
    grid-column-start: 3
}

.grid .g-start-4 {
    grid-column-start: 4
}

.grid .g-start-5 {
    grid-column-start: 5
}

.grid .g-start-6 {
    grid-column-start: 6
}

.grid .g-start-7 {
    grid-column-start: 7
}

.grid .g-start-8 {
    grid-column-start: 8
}

.grid .g-start-9 {
    grid-column-start: 9
}

.grid .g-start-10 {
    grid-column-start: 10
}

.grid .g-start-11 {
    grid-column-start: 11
}

@media (min-width: 576px) {
    .grid .g-col-sm-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-sm-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-sm-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-sm-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-sm-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-sm-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-sm-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-sm-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-sm-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-sm-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-sm-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-sm-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-sm-1 {
        grid-column-start: 1
    }

    .grid .g-start-sm-2 {
        grid-column-start: 2
    }

    .grid .g-start-sm-3 {
        grid-column-start: 3
    }

    .grid .g-start-sm-4 {
        grid-column-start: 4
    }

    .grid .g-start-sm-5 {
        grid-column-start: 5
    }

    .grid .g-start-sm-6 {
        grid-column-start: 6
    }

    .grid .g-start-sm-7 {
        grid-column-start: 7
    }

    .grid .g-start-sm-8 {
        grid-column-start: 8
    }

    .grid .g-start-sm-9 {
        grid-column-start: 9
    }

    .grid .g-start-sm-10 {
        grid-column-start: 10
    }

    .grid .g-start-sm-11 {
        grid-column-start: 11
    }
}

@media (min-width: 768px) {
    .grid .g-col-md-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-md-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-md-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-md-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-md-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-md-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-md-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-md-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-md-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-md-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-md-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-md-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-md-1 {
        grid-column-start: 1
    }

    .grid .g-start-md-2 {
        grid-column-start: 2
    }

    .grid .g-start-md-3 {
        grid-column-start: 3
    }

    .grid .g-start-md-4 {
        grid-column-start: 4
    }

    .grid .g-start-md-5 {
        grid-column-start: 5
    }

    .grid .g-start-md-6 {
        grid-column-start: 6
    }

    .grid .g-start-md-7 {
        grid-column-start: 7
    }

    .grid .g-start-md-8 {
        grid-column-start: 8
    }

    .grid .g-start-md-9 {
        grid-column-start: 9
    }

    .grid .g-start-md-10 {
        grid-column-start: 10
    }

    .grid .g-start-md-11 {
        grid-column-start: 11
    }
}

@media (min-width: 992px) {
    .grid .g-col-lg-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-lg-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-lg-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-lg-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-lg-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-lg-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-lg-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-lg-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-lg-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-lg-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-lg-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-lg-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-lg-1 {
        grid-column-start: 1
    }

    .grid .g-start-lg-2 {
        grid-column-start: 2
    }

    .grid .g-start-lg-3 {
        grid-column-start: 3
    }

    .grid .g-start-lg-4 {
        grid-column-start: 4
    }

    .grid .g-start-lg-5 {
        grid-column-start: 5
    }

    .grid .g-start-lg-6 {
        grid-column-start: 6
    }

    .grid .g-start-lg-7 {
        grid-column-start: 7
    }

    .grid .g-start-lg-8 {
        grid-column-start: 8
    }

    .grid .g-start-lg-9 {
        grid-column-start: 9
    }

    .grid .g-start-lg-10 {
        grid-column-start: 10
    }

    .grid .g-start-lg-11 {
        grid-column-start: 11
    }
}

@media (min-width: 1200px) {
    .grid .g-col-xl-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-xl-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-xl-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-xl-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-xl-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-xl-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-xl-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-xl-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-xl-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-xl-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-xl-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-xl-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-xl-1 {
        grid-column-start: 1
    }

    .grid .g-start-xl-2 {
        grid-column-start: 2
    }

    .grid .g-start-xl-3 {
        grid-column-start: 3
    }

    .grid .g-start-xl-4 {
        grid-column-start: 4
    }

    .grid .g-start-xl-5 {
        grid-column-start: 5
    }

    .grid .g-start-xl-6 {
        grid-column-start: 6
    }

    .grid .g-start-xl-7 {
        grid-column-start: 7
    }

    .grid .g-start-xl-8 {
        grid-column-start: 8
    }

    .grid .g-start-xl-9 {
        grid-column-start: 9
    }

    .grid .g-start-xl-10 {
        grid-column-start: 10
    }

    .grid .g-start-xl-11 {
        grid-column-start: 11
    }
}

@media (min-width: 1400px) {
    .grid .g-col-xxl-1 {
        grid-column:auto/span 1
    }

    .grid .g-col-xxl-2 {
        grid-column: auto/span 2
    }

    .grid .g-col-xxl-3 {
        grid-column: auto/span 3
    }

    .grid .g-col-xxl-4 {
        grid-column: auto/span 4
    }

    .grid .g-col-xxl-5 {
        grid-column: auto/span 5
    }

    .grid .g-col-xxl-6 {
        grid-column: auto/span 6
    }

    .grid .g-col-xxl-7 {
        grid-column: auto/span 7
    }

    .grid .g-col-xxl-8 {
        grid-column: auto/span 8
    }

    .grid .g-col-xxl-9 {
        grid-column: auto/span 9
    }

    .grid .g-col-xxl-10 {
        grid-column: auto/span 10
    }

    .grid .g-col-xxl-11 {
        grid-column: auto/span 11
    }

    .grid .g-col-xxl-12 {
        grid-column: auto/span 12
    }

    .grid .g-start-xxl-1 {
        grid-column-start: 1
    }

    .grid .g-start-xxl-2 {
        grid-column-start: 2
    }

    .grid .g-start-xxl-3 {
        grid-column-start: 3
    }

    .grid .g-start-xxl-4 {
        grid-column-start: 4
    }

    .grid .g-start-xxl-5 {
        grid-column-start: 5
    }

    .grid .g-start-xxl-6 {
        grid-column-start: 6
    }

    .grid .g-start-xxl-7 {
        grid-column-start: 7
    }

    .grid .g-start-xxl-8 {
        grid-column-start: 8
    }

    .grid .g-start-xxl-9 {
        grid-column-start: 9
    }

    .grid .g-start-xxl-10 {
        grid-column-start: 10
    }

    .grid .g-start-xxl-11 {
        grid-column-start: 11
    }
}
/*-------------------------------------------------------------------
## container
-------------------------------------------------------------------*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { width: 100%; padding: 16px;} 
.container-center{ margin-right: auto; margin-left: auto; }

@media (min-width: 576px){
.container, .container-sm { max-width: 540px; } 
}
@media (min-width: 768px){
.container, .container-md, .container-sm { max-width: 720px; } 
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm { max-width: 960px; } 
} 
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl { max-width: 1140px; } 
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1320px; } 
}

@media (min-width: 1600px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { max-width: 1500px; } 
}


/* Default */
.row {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap; margin: 16px;}
.row>* {-ms-flex-negative: 0;flex-shrink: 0;width: 100%;max-width: 100%; }

/* All Device */
.col.top {margin-bottom: auto; }
.col.bottom {margin-top: auto; }
.col.right {margin-left: auto; }
.col.left {margin-right: auto; }

.col {-webkit-box-flex: 1;-ms-flex: 1 0 0%;flex: 1 0 0% }
.col-auto {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto }
.col-1 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 8.33333333% }
.col-2 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 16.66666667% }
.col-3 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25% }
.col-4 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 33.33333333% }
.col-5 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 41.66666667% }
.col-6 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 50% }
.col-7 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 58.33333333% }
.col-8 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 66.66666667% }
.col-9 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 75% }
.col-10 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 83.33333333% }
.col-11 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 91.66666667% }
.col-12 {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 100% }

.row-cols-auto>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto }
.row-cols-1>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 100% }
.row-cols-2>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 50% }
.row-cols-3>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 33.33333333% }
.row-cols-4>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25% }
.row-cols-5>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 20% }
.row-cols-6>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 16.66666667% }

@media (min-width: 576px){
.row-cols-sm-auto>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto }
.row-cols-sm-1>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 100% }
.row-cols-sm-2>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 50% }
.row-cols-sm-3>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 33.33333333% }
.row-cols-sm-4>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25% }
.row-cols-sm-5>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 20% }
.row-cols-sm-6>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 16.66666667% }
}
@media (min-width: 768px){
.row-cols-md-auto>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto }
.row-cols-md-1>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 100% }
.row-cols-md-2>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 50% }
.row-cols-md-3>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 33.33333333% }
.row-cols-md-4>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25% }
.row-cols-md-5>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 20% }
.row-cols-md-6>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 16.66666667% }
}
@media (min-width: 992px){
.row-cols-lg-auto>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto }
.row-cols-lg-1>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 100% }
.row-cols-lg-2>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 50% }
.row-cols-lg-3>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 33.33333333% }
.row-cols-lg-4>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25% }
.row-cols-lg-5>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 20% }
.row-cols-lg-6>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 16.66666667% }
}
@media (min-width: 1200px){
.row-cols-xl-auto>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto }
.row-cols-xl-1>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 100% }
.row-cols-xl-2>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 50% }
.row-cols-xl-3>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 33.33333333% }
.row-cols-xl-4>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 25% }
.row-cols-xl-5>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 20% }
.row-cols-xl-6>* {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: 16.66666667% }
}
    

/* Small Size (Mobile Landscape Device) */
@media (min-width: 576px) {
    .col-sm {-webkit-box-flex:1;-ms-flex: 1 0 0%;flex: 1 0 0% }
    .col-sm-auto {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;}
    .col-sm-1 {width: 8.33333333%;}
    .col-sm-2 {width: 16.6666%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.3333%;}
    .col-sm-5 {width: 41.66666667%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33333333%;}
    .col-sm-8 {width: 66.66666667%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33333334%;}
    .col-sm-11 {width: 91.66666667%;}
    .col-sm-12 {width: 100%;}
}



/* Middle Size (Tablet Device) */
@media (min-width: 768px) {
    .col-md {-webkit-box-flex:1;-ms-flex: 1 0 0%;flex: 1 0 0% }
    .col-md-auto {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;}
    .col-md-1 {width: 8.33333333%;}
    .col-md-2 {width: 16.6666%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.3333%;}
    .col-md-5 {width: 41.66666667%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33333333%;}
    .col-md-8 {width: 66.66666667%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33333334%;}
    .col-md-11 {width: 91.66666667%;}
    .col-md-12 {width: 100%;}
}

/* Large Size (Desktop Device) */
@media (min-width: 992px) {
    .col-lg {-webkit-box-flex:1;-ms-flex: 1 0 0%;flex: 1 0 0% }
    .col-lg-auto {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;}
    .col-lg-1 {width: 8.33333333%;}
    .col-lg-2 {width: 16.6666%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.3333%;}
    .col-lg-5 {width: 41.66666667%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33333333%;}
    .col-lg-8 {width: 66.66666667%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33333334%;}
    .col-lg-11 {width: 91.66666667%;}
    .col-lg-12 {width: 100%;}
}

/* XLarge Size (Desktop Device) */
@media all and (min-width: 1200px) {
    .col-xl {-webkit-box-flex:1;-ms-flex: 1 0 0%;flex: 1 0 0% }
    .col-xl-auto {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;}
    .col-xl-1 {width: 8.33333333%;}
    .col-xl-2 {width: 16.6666%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.3333%;}
    .col-xl-5 {width: 41.66666667%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33333333%;}
    .col-xl-8 {width: 66.66666667%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33333334%;}
    .col-xl-11 {width: 91.66666667%;}
    .col-xl-12 {width: 100%;}
}

/* XXLarge Size (Desktop Device) */
@media all and (min-width: 1400px) {
    .col-xxl {-webkit-box-flex:1;-ms-flex: 1 0 0%;flex: 1 0 0% }
    .col-xxl-auto {-webkit-box-flex: 0;-ms-flex: 0 0 auto;flex: 0 0 auto;width: auto;}
    .col-xxl-1 {width: 8.33333333%;}
    .col-xxl-2 {width: 16.6666%;}
    .col-xxl-3 {width: 25%;}
    .col-xxl-4 {width: 33.3333%;}
    .col-xxl-5 {width: 41.66666667%;}
    .col-xxl-6 {width: 50%;}
    .col-xxl-7 {width: 58.33333333%;}
    .col-xxl-8 {width: 66.66666667%;}
    .col-xxl-9 {width: 75%;}
    .col-xxl-10 {width: 83.33333334%;}
    .col-xxl-11 {width: 91.66666667%;}
    .col-xxl-12 {width: 100%;}
}



/* Gutter */
.gut-guide {margin: -5px; }
.gut-guide > .col {padding: 5px; }